$dark-blue:  rgb(9, 13, 33); // for application background
$white: #ffffff;
$transparent-dark-blue: rgba(9, 13, 33, 0.7); // mainly for background of overlays

$cyan: #05f0ff;
$orange: #ffb505;


$purple: #c398e0;
$green: #cde5a7;
$cyan: #97d9db;
$red: #e5a7a7;
$yellow: #e5cfa7;
$blue: #a7a7e5;

:export {
  darkBlue: $dark-blue;
  transparentDarkBlue: $transparent-dark-blue;
  actors: {
    seanconnery: $cyan;
    rogermoore: $red;
    danielcraig: $green;
    georgelazenby: $purple;
    piercebrosnan: $yellow;
    timothydalton: $blue;
  };
  cyan: $cyan;
  orange: $orange;
}