@import 'colors';

@mixin selected-menu-item {
  background-color: white;
  color: $dark-blue;
}

#info-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 10px;
  background-color: $transparent-dark-blue;
  border-left: 1px solid $white;
  z-index: 2;
  max-width: 250px;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0;
    display: flex;

    li {
      list-style: none;
      padding: 0 4px;
      margin-right: 10px;
      cursor: pointer;
    }

    li:hover {
      @include selected-menu-item;
    }

    li.info-selected {
      @include selected-menu-item;
    }

  }

  svg {
    vertical-align: middle;
    padding-bottom: 5px;
  }

  .bond-symbol {
    vertical-align: middle;
    margin-top: 2px;
  }

}