@import 'colors';

@mixin selected-menu-item {
  background-color: white;
  color: $dark-blue;
}
@mixin bond-symbol {
  vertical-align: middle;
  margin-top: 2px;
}

#info-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 10px;
  background-color: $transparent-dark-blue;
  border-left: 1px solid $white;
  z-index: 2;
  max-width: 250px;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0;
    display: flex;

    li {
      list-style: none;
      padding: 0 4px;
      margin-right: 10px;
      cursor: pointer;
    }

    li:hover {
      @include selected-menu-item;
    }

    li.info-selected {
      @include selected-menu-item;
    }

  }

  #info-details {
    ul {
      display: block;

      li {
        list-style: none;
      }
    }
  }

  svg {
    vertical-align: middle;
    padding-bottom: 5px;
  }

  .bond-symbol-2, .bond-symbol-1, .bond-symbol-3 {
    @include bond-symbol;
  }

  .bond-symbol-2 {
    margin: 2px 4px;
  }

  .bond-symbol-3 {
    margin: 0 6px;
  }

}